[submodule "pack/syntax/opt/polyglot"]
	path = pack/syntax/start/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/basics/start/airline"]
	path = pack/basics/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/basics/start/fugitive"]
	path = pack/basics/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/basics/start/tcomment"]
	path = pack/basics/start/tcomment
	url = https://github.com/tomtom/tcomment_vim
