[submodule "pack/basics/start/airline"]
	path = pack/basics/start/airline
	url = https://github.com/vim-airline/vim-airline.git
	branch = master
[submodule "pack/basics/start/fugitive"]
	path = pack/basics/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "pack/basics/start/tcomment"]
	path = pack/basics/start/tcomment
	url = https://github.com/tomtom/tcomment_vim
	branch = master
[submodule "pack/syntax/start/bro"]
	path = pack/syntax/start/bro
	url = https://github.com/mephux/bro.vim.git
	branch = master
[submodule "pack/syntax/start/systemverilog"]
	path = pack/syntax/start/systemverilog
	url = https://github.com/vim-scripts/systemverilog.vim.git
	branch = master
[submodule "pack/syntax/start/tiddlywiki"]
	path = pack/syntax/start/tiddlywiki
	url = https://github.com/dnebauer/vim-tiddlywiki-ftplugin
	branch = master
[submodule "pack/basics/start/surround"]
	path = pack/basics/start/surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "coc.nvim"]
	path = pack/syntax/start/coc
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "pack/syntax/start/vim-matlab"]
	path = pack/syntax/start/vim-matlab
	url = https://github.com/jclds139/vim-matlab.git
	branch = master
[submodule "pack/syntax/start/graphviz"]
	path = pack/syntax/start/graphviz
	url = https://github.com/liuchengxu/graphviz.vim.git
[submodule "pack/basics/start/firenvim"]
	path = pack/basics/opt/firenvim
	url = https://github.com/glacambre/firenvim.git
[submodule "pack/syntax/start/eldar"]
	path = pack/syntax/start/eldar
	url = https://github.com/agude/vim-eldar.git
[submodule "pack/syntax/start/medic_chalk"]
	path = pack/syntax/start/medic_chalk
	url = https://github.com/ParamagicDev/vim-medic_chalk.git
[submodule "pack/basics/start/firenvim/"]
	url = https://github.com/glacambre/firenvim.git
[submodule "pack/syntax/start/polyglot"]
	path = pack/syntax/start/polyglot
	url = https://github.com/sheerun/vim-polyglot
