[submodule "airline"]
	path = pack/basics/start/airline
	url = https://github.com/vim-airline/vim-airline.git
	branch = master
[submodule "fugitive"]
	path = pack/basics/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "tcomment"]
	path = pack/basics/opt/tcomment
	url = https://github.com/tomtom/tcomment_vim
	branch = master
[submodule "tiddlywiki"]
	path = pack/syntax/start/tiddlywiki
	url = https://github.com/sukima/vim-tiddlywiki
	branch = master
[submodule "surround"]
	path = pack/basics/start/surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "coc.nvim"]
	path = pack/syntax/start/coc
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "vim-matlab"]
	path = pack/syntax/start/matlab-syntax
	url = https://github.com/jclds139/vim-matlab.git
	branch = master
[submodule "eldar"]
	path = pack/syntax/start/eldar
	url = https://github.com/agude/vim-eldar.git
[submodule "matchit"]
	path = pack/syntax/start/matchit
	url = https://github.com/chrisbra/matchit
[submodule "pack/basics/start/jupytext"]
	path = pack/basics/start/jupytext
	url = https://github.com/goerz/jupytext.vim.git
[submodule "pack/basics/start/virtualenv"]
	path = pack/basics/start/virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv
[submodule "pack/syntax/start/vim-snippets"]
	path = pack/syntax/opt/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "pack/syntax/start/indent-guides"]
	path = pack/syntax/opt/indent-guides
	url = https://github.com/preservim/vim-indent-guides
[submodule "pack/syntax/opt/treesitter"]
	path = pack/syntax/opt/treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
	branch = main
[submodule "pack/syntax/start/moonfly-colors"]
	path = pack/syntax/start/moonfly-colors
	url = https://github.com/bluz71/vim-moonfly-colors.git
[submodule "pack/syntax/opt/sphinx.nvim"]
	path = pack/syntax/opt/sphinx.nvim
	url = https://github.com/stsewd/sphinx.nvim
[submodule "pack/basics/opt/firenvim"]
	path = pack/basics/opt/firenvim
	url = https://github.com/glacambre/firenvim
[submodule "pack/syntax/start/vim-sleuth"]
	path = pack/syntax/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "pack/syntax/opt/copilot"]
	path = pack/syntax/opt/copilot
	url = https://github.com/github/copilot.vim
